//bot.pug file included to templatise the meta-tags needed for sharing links
doctype html 
html 
 head 
  title=title 
  meta(property="og:title" name="twitter:title" content=title) 
  meta(property="og:title" name="title" content=title) 
  meta(property="og:description" name="twitter:description" content=description) 
  meta(property="og:url" name="twitter:url" content=url)  
  meta(property="og:image" content=imageUrl) 
  meta(property="og:type" content=type) 
  meta(name="twitter:card" content="summary_large_image") 
  meta(name="twitter:text:title" content=title)
  meta(property="og:site_name" content="MotoMob.me")
  meta(property="fb:app_id" content="51756880368")
  meta(property="mm:error" content=error)

 body 
  h1=title 
  img(src= imageUrl)
  p=description
